* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 120%;
    background: #f8f8f8;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    margin: 0 auto;
    color: white;
    background: #434955;
    text-align: center;
    padding: 20px;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.product {
    border: 1px solid #b0c4de;
    padding: 20px;
    margin: 10px 0;
    background: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.success {
    color: #3c763d;
    background: #dff9d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
